In [12]:
import pymongo 
import pandas as pd
import numpy as np
from config import pg_username, pg_password

In [16]:
# 連線
uri = f"mongodb+srv://{pg_username}:{pg_password}@cluster0.4dt6k.mongodb.net/test?authSource=admin&replicaSet=Cluster0-shard-0&readPreference=primary&appname=MongoDB%20Compass&ssl=true" 
# dba
client = pymongo.MongoClient(uri)
# 指定db
db = client['craigslist_db']
# 指定table
listings = db['listings']
# 指定欄位
cursor = listings.find({},{ 'data_id': 1, 'listing_type': 1,'listing_bedbath': 1,'listing_price': 1, 'listing_addrzip': 1,'listing_sqft':1,'listing_addrlocality':1,'_id': 0 })   
# 轉成list
list_cur = list(cursor)
# list轉df
df = pd.DataFrame(list_cur)
# listing_price 去掉$
df["listing_price"] = df["listing_price"].str.replace("$","")
df["listing_price"] = df["listing_price"].str.replace(",","")
# listing_sqft ft2
df["listing_sqft"] = df["listing_sqft"].str.replace("ft2","")

In [17]:
df.head()

,data_id,listing_price,listing_addrlocality,listing_addrzip,listing_bedbath,listing_type,listing_sqft
0,7278244211,2095,Carlsbad,92009,1BR / 1Ba,Apartment,679
1,7280806990,2920,San Diego,92121,2BR / 2Ba,Apartment,1098
2,7278515816,1575,Escondido,92033,2BR / 2Ba,Apartment,948
3,7277910674,2030,San Marcos,92079,1BR / 1Ba,Apartment,829
4,7279719841,1437,Escondido,92033,1BR / 1Ba,Apartment,668

In [18]:
df.count()

data_id                 7979
listing_price           7979
listing_addrlocality    7936
listing_addrzip         7936
listing_bedbath         7936
listing_type            7936
listing_sqft            7936
dtype: int64

In [28]:
df.dropna()

,data_id,listing_price,listing_addrlocality,listing_addrzip,listing_bedbath,listing_type,listing_sqft
0,7278244211,2095,Carlsbad,92009,1BR / 1Ba,Apartment,679
1,7280806990,2920,San Diego,92121,2BR / 2Ba,Apartment,1098
2,7278515816,1575,Escondido,92033,2BR / 2Ba,Apartment,948
3,7277910674,2030,San Marcos,92079,1BR / 1Ba,Apartment,829
4,7279719841,1437,Escondido,92033,1BR / 1Ba,Apartment,668
...,...,...,...,...,...,...,...
7904,7277744964,2075,Chula Vista,91911,2BR / 1Ba,Apartment,945
7905,7277744410,1895,Chula Vista,91911,1BR / 1Ba,Apartment,845
7906,7275457953,1845,Chula Vista,91911,1BR / 1Ba,Apartment,800
7907,7274555822,1422,Escondido,92033,2BR / 1Ba,Apartment,812
7951,7280943469,1039,La Jolla,92093,3BR / 3Ba,Apartment,1807

In [39]:
blank_listing_sqft_df = df.loc[df['listing_sqft'] == '']
data_ids_blank_sqft = blank_listing_sqft_df['data_id']

# loop through duplicate mouse ids (in this case only one mouse id)
for data_id in data_ids_blank_sqft:
    df.drop(df.index[df['data_id'] == data_id], inplace = True)

In [40]:
blank_zip_sqft_df = df.loc[df['listing_addrzip'] == '']
data_ids_blank_zip = blank_zip_sqft_df['data_id']

# loop through duplicate mouse ids (in this case only one mouse id)
for data_id in data_ids_blank_zip:
    df.drop(df.index[df['data_id'] == data_id], inplace = True)

In [41]:
clean_df = df.dropna()

In [30]:
clean_df

,data_id,listing_price,listing_addrlocality,listing_addrzip,listing_bedbath,listing_type,listing_sqft
0,7278244211,2095,Carlsbad,92009,1BR / 1Ba,Apartment,679
1,7280806990,2920,San Diego,92121,2BR / 2Ba,Apartment,1098
2,7278515816,1575,Escondido,92033,2BR / 2Ba,Apartment,948
3,7277910674,2030,San Marcos,92079,1BR / 1Ba,Apartment,829
4,7279719841,1437,Escondido,92033,1BR / 1Ba,Apartment,668
...,...,...,...,...,...,...,...
7904,7277744964,2075,Chula Vista,91911,2BR / 1Ba,Apartment,945
7905,7277744410,1895,Chula Vista,91911,1BR / 1Ba,Apartment,845
7906,7275457953,1845,Chula Vista,91911,1BR / 1Ba,Apartment,800
7907,7274555822,1422,Escondido,92033,2BR / 1Ba,Apartment,812
7951,7280943469,1039,La Jolla,92093,3BR / 3Ba,Apartment,1807

In [34]:
clean_df.dtypes

data_id                 object
listing_price           object
listing_addrlocality    object
listing_addrzip         object
listing_bedbath         object
listing_type            object
listing_sqft            object
dtype: object

In [36]:
#change type string to float so it's easier to get avg price& sqft later

clean_df["listing_price"] = clean_df["listing_price"].astype(float)
clean_df["listing_sqft"] = pd.to_numeric(clean_df['listing_sqft'] , downcast = "float" )

In [37]:
clean_df.dtypes

data_id                  object
listing_price           float64
listing_addrlocality     object
listing_addrzip          object
listing_bedbath          object
listing_type             object
listing_sqft            float32
dtype: object

In [38]:
clean_df

,data_id,listing_price,listing_addrlocality,listing_addrzip,listing_bedbath,listing_type,listing_sqft
0,7278244211,2095.0,Carlsbad,92009,1BR / 1Ba,Apartment,679.0
1,7280806990,2920.0,San Diego,92121,2BR / 2Ba,Apartment,1098.0
2,7278515816,1575.0,Escondido,92033,2BR / 2Ba,Apartment,948.0
3,7277910674,2030.0,San Marcos,92079,1BR / 1Ba,Apartment,829.0
4,7279719841,1437.0,Escondido,92033,1BR / 1Ba,Apartment,668.0
...,...,...,...,...,...,...,...
7904,7277744964,2075.0,Chula Vista,91911,2BR / 1Ba,Apartment,945.0
7905,7277744410,1895.0,Chula Vista,91911,1BR / 1Ba,Apartment,845.0
7906,7275457953,1845.0,Chula Vista,91911,1BR / 1Ba,Apartment,800.0
7907,7274555822,1422.0,Escondido,92033,2BR / 1Ba,Apartment,812.0
7951,7280943469,1039.0,La Jolla,92093,3BR / 3Ba,Apartment,1807.0

In [ ]:
#方法1

In [ ]:
pip install geopy

In [ ]:
import geopy

In [ ]:
data = listings.find({},{'listing_latitude': 1, 'listing_longitude': 1})   
# 轉成list
data_list = list(data)
# list轉df
lat = pd.DataFrame(data_list)
lat = lat[["listing_latitude", "listing_longitude"]]
lat

In [ ]:
#stuck!!
def get_zipcode(lat, geolocator, lat_field, lon_field):
    location = geolocator.reverse((lat[lat_field], lat[lon_field]))
    return location.raw['address']['postcode']


geolocator = geopy.Nominatim(user_agent='my-application')
zipcodes = lat.apply(get_zipcode, axis=1, geolocator=geolocator, lat_field='listing_latitude', lon_field='listing_longitude')
zipcodes

In [ ]:
pip install uszipcode

In [ ]:
#方法1
pip install uszipcode

In [ ]:
from uszipcode import SearchEngine
search = SearchEngine(simple_zipcode=True)
from uszipcode import Zipcode
import numpy as np

def get_zipcode(lat, lon):
    result = search.by_coordinates(lat = lat, lng = lon, returns = 1)
    return result[0].zipcode

data = listings.find({},{'listing_latitude': 1, 'listing_longitude': 1})   
# 轉成list
data_list = list(data)
# list轉df
data_df = pd.DataFrame(data_list)
data_df = data_df[["listing_latitude", "listing_longitude"]]
lat = data_df["listing_latitude"]

lon = data_df["listing_longitude"]

data_df['zipcode'] = data_df.apply(lambda x: get_zipcode(x.lat,x.lon), axis=1)

In [ ]:
data_df

In [ ]:
data = listings.find({},{'listing_latitude': 1, 'listing_longitude': 1})   
# 轉成list
data_list = list(data)
# list轉df
df = pd.DataFrame(data_list)
df = lat[["listing_latitude", "listing_longitude"]]
df