In [23]:
import pymongo 
import pandas as pd
import numpy as np

In [24]:
# ÈÄ£Á∑ö
uri = "mongodb+srv://sally:teame@cluster0.4dt6k.mongodb.net/test?authSource=admin&replicaSet=Cluster0-shard-0&readPreference=primary&appname=MongoDB%20Compass&ssl=true" 
# dba
client = pymongo.MongoClient(uri)
# ÊåáÂÆödb
db = client['craigslist_db']
# ÊåáÂÆötable
listings = db['listings']
# ÊåáÂÆöÊ¨Ñ‰Ωç
cursor = listings.find({},{ 'data_id': 1, 'listing_title': 1, 'listing_type': 1,'listing_bed': 1,'listing_bath': 1,'listing_price': 1, 'listing_date': 1,'listing_latitude': 1, 'listing_longitude': 1, 'listing_sqft': 1, '_id': 0 })   
# ËΩâÊàêlist
list_cur = list(cursor)
# listËΩâdf
df = pd.DataFrame(list_cur)
# listing_price ÂéªÊéâ$
df["listing_price"] = df["listing_price"].str.replace("$","")
# listing_price ÂéªÊéâ,
df["listing_price"] = df["listing_price"].str.replace(",","")
# listing_sqft ft2
df["listing_sqft"] = df["listing_sqft"].str.replace("ft2","")
df

,data_id,listing_title,listing_price,listing_date,listing_bath,listing_bed,listing_latitude,listing_longitude,listing_type,listing_sqft
0,7278244211,"Dog Park, In-Unit Laundry, Extra storage",2095,2021-02-21 15:13,1,1,33.077861,-117.234826,Apartment,679
1,7280806990,"Dual Master Layout, Detached Garage, Newly Ren...",2920,2021-02-21 15:13,2,2,32.918652,-117.213893,Apartment,1098
2,7278515816,"55+ Community~ 2 BD, Dual Masters, Discounted ...",1575,2021-02-21 15:08,2,2,33.132921,-117.094667,Apartment,948
3,7277910674,1 Bed - 1 Bath Huge Kitchen Island + WD + Walk...,2030,2021-02-21 15:08,1,1,33.146540,-117.188919,Apartment,829
4,7279719841,1B/1B üè° 55+ Community! Virtual Tours and Move ...,1437,2021-02-21 14:57,1,1,33.134691,-117.094817,Apartment,668
...,...,...,...,...,...,...,...,...,...,...
7974,7277725826,Stunning Dual-master suite home in Otay Ranch,2099,2021-02-21 23:56,NaN,NaN,NaN,NaN,NaN,NaN
7975,7279753512,Stunning Dual-master suite home in Otay Ranch,2099,2021-02-21 23:56,NaN,NaN,NaN,NaN,NaN,NaN
7976,7279750572,Stunning Dual-master suite home in Otay Ranch,2099,2021-02-21 23:55,NaN,NaN,NaN,NaN,NaN,NaN
7977,7280966578,SE RENTA CASA EN VILLA DEL REAL 650 / FOR RENT...,650,2021-02-21 23:55,NaN,NaN,NaN,NaN,NaN,NaN
7978,7277725730,Relaxing Condo Near the Beach,1999,2021-02-21 23:55,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df.dtypes

data_id              object
listing_title        object
listing_price        object
listing_date         object
listing_bath         object
listing_bed          object
listing_latitude     object
listing_longitude    object
listing_type         object
listing_sqft         object
dtype: object

In [27]:
#change type string to float so it's easier to get avg price& sqft later

df["listing_price"] = df["listing_price"].astype(float)
df["listing_sqft"] = pd.to_numeric(df['listing_sqft'] , downcast = "float" )
df["listing_bed"] = pd.to_numeric(df['listing_bed'] , downcast = "float" )

In [29]:
df.dtypes

data_id               object
listing_title         object
listing_price        float64
listing_date          object
listing_bath          object
listing_bed          float32
listing_latitude      object
listing_longitude     object
listing_type          object
listing_sqft         float32
dtype: object

In [ ]:
#ÊñπÊ≥ï1

In [ ]:
pip install geopy

In [ ]:
import geopy

In [34]:
data = listings.find({},{'listing_latitude': 1, 'listing_longitude': 1})   
# ËΩâÊàêlist
data_list = list(data)
# listËΩâdf
lat = pd.DataFrame(data_list)
lat = lat[["listing_latitude", "listing_longitude"]]
lat

     listing_latitude listing_longitude
0           33.077861       -117.234826
1           32.918652       -117.213893
2           33.132921       -117.094667
3           33.146540       -117.188919
4           33.134691       -117.094817
...               ...               ...
7974              NaN               NaN
7975              NaN               NaN
7976              NaN               NaN
7977              NaN               NaN
7978              NaN               NaN

[7979 rows x 2 columns]

In [ ]:
#stuck!!
def get_zipcode(lat, geolocator, lat_field, lon_field):
    location = geolocator.reverse((lat[lat_field], lat[lon_field]))
    return location.raw['address']['postcode']


geolocator = geopy.Nominatim(user_agent='my-application')
zipcodes = lat.apply(get_zipcode, axis=1, geolocator=geolocator, lat_field='listing_latitude', lon_field='listing_longitude')
zipcodes

In [2]:
pip install uszipcode

Collecting uszipcode
  Downloading uszipcode-0.2.4-py2.py3-none-any.whl (378 kB)
Requirement already satisfied: attrs in c:\users\sally\anaconda3\lib\site-packages (from uszipcode) (19.3.0)
Requirement already satisfied: requests in c:\users\sally\anaconda3\lib\site-packages (from uszipcode) (2.24.0)
Collecting pathlib-mate
  Downloading pathlib_mate-1.0.1-py2.py3-none-any.whl (78 kB)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: sqlalchemy in c:\users\sally\anaconda3\lib\site-packages (from uszipcode) (1.3.18)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sally\anaconda3\lib\site-packages (from requests->uszipcode) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\sally\anaconda3\lib\site-packages (from requests->uszipcode) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\sally\anaconda3\lib\site-packages (from requests->uszipcode) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\sally\anaconda3\lib\site-packages (from requests->uszipcode) (1.25.9)
Requirement already satisfied: six in c:\users\sally\anaconda3\lib\site-packages (from pathlib-mate->uszipcode) (1.15.0)
Requirement already satisfied: atomicwrites in c:\users\sally\anaconda3\lib\site-packages (from pathlib-mate->uszipcode) (1.4.0)
Requirement already satisfied: autopep8 in c:\users\sally\anaconda3\lib\site-packages (from pathlib-mate->uszipcode) (1.5.3)
Requirement already satisfied: pycodestyle>=2.6.0 in c:\users\sally\anaconda3\lib\site-packages (from autopep8->pathlib-mate->uszipcode) (2.6.0)
Requirement already satisfied: toml in c:\users\sally\anaconda3\lib\site-packages (from autopep8->pathlib-mate->uszipcode) (0.10.1)
Installing collected packages: pathlib-mate, uszipcode
Successfully installed pathlib-mate-1.0.1 uszipcode-0.2.4

In [ ]:
#ÊñπÊ≥ï1
pip install uszipcode

In [8]:
from uszipcode import SearchEngine
search = SearchEngine(simple_zipcode=True)
from uszipcode import Zipcode
import numpy as np

def get_zipcode(lat, lon):
    result = search.by_coordinates(lat = lat, lng = lon, returns = 1)
    return result[0].zipcode

data = listings.find({},{'listing_latitude': 1, 'listing_longitude': 1})   
# ËΩâÊàêlist
data_list = list(data)
# listËΩâdf
data_df = pd.DataFrame(data_list)
data_df = data_df[["listing_latitude", "listing_longitude"]]
lat = data_df["listing_latitude"]

lon = data_df["listing_longitude"]

data_df['zipcode'] = data_df.apply(lambda x: get_zipcode(x.lat,x.lon), axis=1)

Start downloading data for simple zipcode database, total size 9MB ...
  1 MB finished ...
  Complete!

AttributeError: 'Series' object has no attribute 'lat'

In [ ]:
data_df

In [15]:
data = listings.find({},{'listing_latitude': 1, 'listing_longitude': 1})   
# ËΩâÊàêlist
data_list = list(data)
# listËΩâdf
df = pd.DataFrame(data_list)
df = lat[["listing_latitude", "listing_longitude"]]
df

     listing_latitude listing_longitude
0           33.077861       -117.234826
1           32.918652       -117.213893
2           33.132921       -117.094667
3           33.146540       -117.188919
4           33.134691       -117.094817
...               ...               ...
7974              NaN               NaN
7975              NaN               NaN
7976              NaN               NaN
7977              NaN               NaN
7978              NaN               NaN

[7979 rows x 2 columns]